<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Env Data</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of Environmental Data</h2>

<table>
    <tr>
        <th>Timestamp</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Pressure</th>
        <th>Illuminiance</th>
        <th>UVA</th>
        <th>UVB</th>
        <th>UV Index</th>
    </tr>

    <tr th:each="data : ${env}">
        <td th:text="${data.timestamp}">Timestamp</td>
        <td th:text="${data.temperature}">Temperature</td>
        <td th:text="${data.humidity}">Humidity</td>
        <td th:text="${data.pressure}">Pressure</td>
        <td th:text="${data.illuminance}">Illuminance</td>
        <td th:text="${data.uva}">UVA</td>
        <td th:text="${data.uvb}">UVB</td>
        <td th:text="${data.uv_index}">UV Index</td>

    </tr>
</table>

</body>
</html>